.jumbotron {
    background-image: url("../img/flower.png");
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
}

.jumbotron h1 {
    color: black;
    text-align: center;
}

#presentation {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.jumbotron p {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #000000;
}