{% extends 'base-1.html.twig' %}
    {% block body %}
        {% block login %}
            <span>Connexion</span>
            <form action="{{ path('connected') }}" method="post" style="margin-bottom: 100px">
                <div class="input-group col-md-6">
                    <span class="input-group-addon">Identifiant</span>
                    <input class="form-control" type="text" id="firstname" name="login" />
                </div>
                <br>
                <div class="input-group col-md-6">
                    <span class="input-group-addon">Mot de passe</span>
                    <input class="form-control" type="password" object="lastname" name="password" />
                </div>
                <br>
                <input type="submit" value="Envoyer" class="btn btn-default" />
            </form>

        {% endblock %}
    {% endblock %}