{% extends 'base.html.twig' %}

{% block stylesheets 'contact/css/main.css' %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endblock %}

{% block body %}
    {{ parent() }}
    <form action="{{ path('contact') }}">
        <div class="input-group col-md-6">
            <span class="input-group-addon"> Prénom </span>
            <input class="form-control" type="text" id="firstname" name="firstname" />
        </div>
        <br>
        <div class="input-group col-md-6">
            <span class="input-group-addon"> Nom </span>
            <input class="form-control" type="text" object="lastname" name="lastname" />
        </div>
        <br>
        <div class="input-group col-md-6">
            <span class="input-group-addon"> Objet </span>
            <input class="form-control" type="text" id="object" name="object" />
        </div>
        <br>
        <div class="input-group col-md-6">
            <span class="input-group-addon"> Message </span>
            <textarea class="form-control" id="message" name="message" rows="4" cols="50" ></textarea>
        </div>
        <br>

        <input type="submit" value="Envoyer" class="btn btn-default" />
    </form>
{% endblock %}