<span>Bonjour,</span>
<br/>
<span>{{ firstname }} {{ lastname }} souhaiterait vous contacter à propos du sujet suivant : {{ object }}</span>
<br/>
<span>Message du client : </span>
<br/>
{{ message }}